* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

p.ytpdcta {
  margin: auto;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 1em;
}

a.ytsubscribebutton {
  background-color: #ff0034;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
}

a.ytsubscribebutton:hover {
  background-color: #df002e;
}

a.ytsubscribebutton svg {
  vertical-align: middle;
}

.ytpldisplaywrapper {
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  margin: 1em;
  padding: 0.5em;
}
